<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Happy Anniversary 9M</title>
</head>

<body>
    <div class="card">
        <h1 style="color: #ff457f;">สุขสันต์วันครบรอบ 9 เดือนน้า</h1>
        <br>
        <div class="text">
            <p>
               สุขสันต์วันครบรอบน้า ขอให้เดือนนี้เทอมีสุขเยอะๆนะค้าบบ ดื้อน้อยๆหน่อยนะค้าบบ เค้ารักเทอที่สุดเลยนะค้าบรู้ไหมม อยากกอดดจัง คิดถึงงงๆๆๆ
               เค้าสัญญาว่าจะไม่ทิ้งเทอไปไหนค้าบบ จะอยู่กับเทอตลอดไปเลยย อยากนอนกอดเทอทุถกคืนเลยนะค้าบบบ เทื่อคืนฝันว่าาา ได้นอนกับเทอตอนเข้าค่ายค้าบบ นอนกอดเทออุ่นมากเลยค้าบบ
               เค้าหวงนะค้าบบ เทอคุยอะไรกับเพื่อนอะ หึงนะค้าบบบเทอคุยกับคนอื่นแบบนั้นอะ ยังโกดอยู่เลยนะค้าบ เล่นเก่งนะค้าบที่รักวันนี้เก่งมากเลยค้าบบ
               
            </p>
            <br>
            <br>
            <p class="muted">- Yuki -</p>
        </div>
        <img src="../img/stiker.gif" alt="ILOVEYOU">
    </div>
    <script src="../js/autoplay.js"></script>
</body>

</html>